$purple-primary: #3b49df;
$purple-secondary: #2f3ab2;
$gray-base-100: #575757;
$gray-link-primary: #404040;
$gray-link-secondary: #717171;
$purple-primary-100: rgb(59, 73, 223);
$purple-primary-200: rgb(47, 58, 178);
$primary: #3b49df;